.header_section h1 {
    font-family: 'Poppins', sans-serif;
}
.header_section p {
    font-family: 'Montserrat', sans-serif;
}
.header_content h1 {
    color: var(--secondary-color);
    text-shadow: 0px 7px 10px rgb(0 0 0 / 20%);
    font-weight: bold;
    font-size: calc(18px + (90 - 14) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 24px;
    line-height: 100px;
    padding-right: 3px;
}
.header_content span {
    color: var(--primary-color) !important;
}
.header_content p {
    color: #444;
    font-weight: 500;
    line-height: 27px;
}
.banner_imgCart {
    box-shadow: -1px 1px 12px 0px rgb(0 0 0 / 19%);
    border-radius: 14px;
    background: white;
}
.banner_imgCart .bannerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.banner_imgCart .bannerUser_details {
    padding: 24px;
}
.my_60 {
    margin: 60px 0;
}
.bannerUser_details img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
.bgImg {
    background-image: url('../../assets/images/headbanner.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.bannerUser_details h2 {
    font-size: calc(14px + (14 - 14) * ((100vw - 300px) / (1600 - 300)));
    color: #2f6999;
    margin-bottom: 5px;
}
.bannerImg {
    width: 100%;
    height: 100%;
}
.full-width {
    width: 100%;
    height: 390px;
}
.bannerUser_details h3 {
    font-size: calc(14px + (14 - 14) * ((100vw - 300px) / (1600 - 300)));
    color: #5e5e5e;
    font-weight: 500;
    margin: 0;
}
@media screen and (min-width:1600px) {
    .header_content h1 {
        font-size: 60px !important;
        line-height: 68px !important;
   }
}
@media screen and (max-width:1300px) {
    .header_content h1 {
        font-size: 60px !important;
        line-height: 78px !important;
   }
    .full-width {
        width: 100%;
        height:320px;
   }
}
@media screen and (max-width:1000px) {
    .header_content h1 {
        font-size: 40px !important;
        line-height: 54px !important;
   }
    .full-width {
        width: 100%;
        height:288px;
   }
    .my_60 {
        margin: 20px 0 !important;
   }
}
@media screen and (min-width:767px) {
    .dnone {
        display: block !important;
   }
    .dblock {
        display: none !important;
   }
}
@media screen and (max-width:767px) {
    .header_content p{
        margin-top: 30px !important;
   }
    .dnone {
        display: none !important;
   }
    .dblock {
        display: block !important;
   }
}
@media screen and (max-width:767px) {
    .my_60 {
        margin: 0 0 !important;
   }
}
